<launch>
  <!-- only arguments exposed are for port assignment -->
  <!-- currently bridge_port is hardcoded into static/rosplot.js -->
  <arg name="port" default="9000" />
  <arg name="bridge_port" value="9001" />

  <!-- run rosbridge for connecting to ros -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
     <arg name="port" value="$(arg bridge_port)"/>
  </include>

  <!-- run the actual ros_tty_js server for connections -->
  <node pkg="ros_tty_js" type="ros_tty_js" name="ros_tty_js" 
        args="--port $(arg port) " />
</launch>
